a {
  color: #00D2BF;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.bg-dark {
  background-color: #171918 !important;
}

@media (min-width: 768px) {
  header.masthead .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  }
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #0fc2b2 !important;
  border-color: #0fc2b2 !important;
  color: #fff;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #0fc2b2;
}

header.masthead {
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(0,210,191,.5) !important;
}

.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .25rem rgba(0,210,191,.5);
}

.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  color: #000;
  background-color: #00D2BF;
  border-color: #00D2BF;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #000;
  background-color: #00D2BF;
  border-color: #00D2BF;
  box-shadow: 0 0 0 .25rem rgba(0,210,191,.5);
}

.btn-primary:hover {
  color: #000;
  background-color: #00D2BF;
  border-color: #00D2BF;
}

.btn-primary {
  color: #000;
  background-color: #00D2BF;
  border-color: #00D2BF;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #00D2BF;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  background-color: #00D2BF;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
}

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #FFEB3B;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #868e96;
  --bs-gray-dark: #343a40;
  --bs-primary: #00D2BF;
  --bs-secondary: #868e96;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #FFEB3B;
  --bs-danger: #F44336;
  --bs-light: #f8f9fa;
  --bs-dark: #1A1C1B;
  --bs-font-sans-serif: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #171918;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
}

.video-modal {
  /*padding-right: 8px !important;*/
}

a:hover {
  color: #fafafa;
}

.team-member img {
  width: 125px;
  height: 125px;
  border: 0px solid #fff;
}

section#contact {
  background-color: #171918;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-light {
  background-color: #1A1C1B !important;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #00D2BF;
}

body {
  overflow-x: hidden;
  font-family: "Dosis","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #ffffff;
}

h5 {
  color: #00D2BF !important;
  font-family: "Dosis","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.intro-text {
  z-index: 99;
  position: relative;
}

.intro-lead-in {
  z-index: 99;
  position: relative;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.masthead {
  z-index: 0;
  position: relative;
}

.zoom {
  background-image: url('../../assets/img/index/header-bg-v2.jpg?h=27452da144a5f445aa15af49d7e6cd08');
  background-size: cover;
  background-position: center;
  position: absolute;
  background-repeat: no-repeat;
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin-right: 3px;
}

.zoom:onload {
  transform-origin: 50% 65%;
  transition: transform 8s, filter 3s ease-in-out;
  padding: 0px;
  background-image: url('../../assets/img/index/header-bg-v2.jpg?h=27452da144a5f445aa15af49d7e6cd08');
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  z-index: -1;
  position: absolute;
  background-repeat: no-repeat;
  filter: brightness(110%);
  transform: scale(1.1);
}

@keyframes anim {
  0% {
    transform: scale(1,1);
  }
  50% {
    transform: scale(1.05,1.05);
  }
  100% {
    transform: scale(1,1);
  }
}

.zoom {
  animation: anim 30s infinite;
  overflow: hidden;
}

@media (min-width: 300px) {
  #mainNav .navbar-brand {
    font-size: 1.75em;
    transition: all .3s;
  }
}

.logo {
}

.logo-top {
  width: 120px;
  height: auto;
  margin: 0;
}

