/* ------------------------------------------------------ */

/* X 001 LAPTOP
/*------------------------------------------------------ */

/* ---------- GENERAL ---------- */

.x_001_laptop_main_wrap {
  padding: 0;
  align-self: center;
}

.x_001_laptop_main_wrap > .row {
  align-self: center;
}

.x_001_laptop_main_wrap > .row > div:nth-child(1) {
  padding: 50px;
  padding-top: 150px;
}

/* ---------- TEXT SIDE ---------- */

/* ---------- LAPTOP ---------- */

.x_001_laptop_inner_wrap {
  width: 100%;
  position: relative;
}

.x_001_laptop_inner_wrap > img {
  width: 100%;
  margin: auto;
}

/* ---------- SLIDER ---------- */

#x_001_laptop {
  top: 10%;
  right: 0;
  width: 71%;
  height: 71%;
  left: -0.5%;
  bottom: auto;
  margin: auto;
  overflow: hidden;
  position: absolute;
  background: #17171a;
}

#x_001_laptop > .carousel-inner:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

#x_001_laptop > .carousel-inner:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

#x_001_laptop > .carousel-inner > .carousel-item {
  overflow: hidden;
}

#x_001_laptop > .carousel-inner > .carousel-item > img {
  width: 100%;
  margin: auto;
}

/* ---------- INDICATORS CONTROL ---------- */

/* ---------- LEFT/RIGHT CONTROL ---------- */

/* ------------------------------------------------------ */

/* RESPONSIVE
/*------------------------------------------------------ */

/* ---------- MEDIA 480px ---------- */

@media only screen and (max-width: 480px) {
  .x_001_laptop_main_wrap > .row > div:nth-child(1) {
    padding: 5px;
  }
}

/* ---------- TEXT SIDE ---------- */

/* ---------- MEDIA 481px - 767px ---------- */

@media (min-width: 481px) and (max-width: 767px) {
  .x_001_laptop_main_wrap > .row > div:nth-child(1) {
    padding: 15px;
  }
}

/* ---------- MEDIA 768px - 991px ---------- */

@media (min-width: 768px) and (max-width: 991px) {
  .x_001_laptop_main_wrap > .row > div:nth-child(1) {
    padding: 25px;
  }
}

/* ---------- MEDIA 992px - 1225px ---------- */

@media (min-width: 992px) and (max-width: 1225px) {
  .x_001_laptop_main_wrap > .row > div:nth-child(1) {
    padding: 25px;
  }
}

/* -------------------------------------------- */

/* SLIDING TIMING FUNCTIONS
/*-------------------------------------------- */

/* ----- ps_ease ----- */

/* ----- ps_easeInOut ----- */

/* ----- ps_speedy ----- */

/* ----- ps_slowSpeedy ----- */

/* ----- ps_easeOutInCubic ----- */

/* ----- ps_swing ----- */

/* ----- ps_easeOutCubic ----- */

/* ----- ps_easeInOutCubic ----- */

/* ----- ps_easeOutCirc ----- */

/* ----- ps_easeOutExpo ----- */

/* ----- ps_easeInQuad ----- */

/* ----- ps_easeOutQuad ----- */

.ps_easeOutQuad .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}

/* ----- ps_easeInOutQuad ----- */

/* ----- ps_easeOutQuart ----- */

/* ----- ps_easeInOutQuart ----- */

/* ----- ps_easeOutQuint ----- */

/* ----- ps_easeInSine ----- */

/* ----- ps_easeOutSine ----- */

/* ----- ps_easeInOutSine ----- */

